:root {
	--nord0: #2e3440;
	--nord1: #3b4252;
	--nord2: #434c5e;
	--nord3: #4c566a;
	--nord4: #d8dee9;
	--nord5: #e5e9f0;
	--nord6: #eceff4;
	--nord7: #8fbcbb;
	--nord8: #88c0d0;
	--nord9: #81a1c1;
	--nord10: #5e81ac;
	--nord11: #bf616a;
	--nord12: #d08770;
	--nord13: #ebcb8b;
	--nord14: #a3be8c;
	--nord15: #b48ead;
	--nord3-4: #929AAA;
	--whitebg: #2e3440 !important;
	--lightgray: #3b4252 !important;
}

body {
	background-color: var(--nord0) !important;
	background: var(--nord0) !important;
	color: var(--nord5) !important;
	--bg_color: var(--nord0) !important;
	--bg_panel: var(--nord1) !important;
	--bg_elements: var(--nord1) !important;
	--bg_hover: var(--nord2) !important;
	--darker_grey: var(--nord2) !important;
	--darkest_grey: var(--nord2) !important;
	--fg_nav: var(--nord8) !important;
	--more_replies_dots: var(--nord7) !important;
	--accent_dark: var(--nord8) !important;
	--color-bg-primary: var(--nord1) !important;
	--color-bg-secondary: var(--nord2) !important;
	--color-social-count-bg: var(--nord2) !important;
	--color-box-header-blue-bg: var(--nord2) !important;
	--color-box-header-blue-border: var(--nord4) !important;
	--color-border-primary: var(--nord4) !important;
	--color-btn-border: var(--nord4) !important;
	--color-text-link: var(--nord8) !important;
	/* stack overflow */
	--theme-content-background-color: var(--nord2) !important;
	--theme-tag-background-color: var(--nord3) !important;
	--theme-tag-background-color-hover: var(--nord3) !important;
	--powder-100: var(--nord3) !important;
}

p {
	color: var(--nord5) !important;
}

.mw-body {
	color: var(--nord6) !important;
	background-color: var(--nord1) !important;
	border-left: 0px !important;
	font-family: Latin Modern Roman Slanted !important;
	font-size: 17px !important;
}

.mw-body h1, .mw-body-content h2 {
	font-family: Latin Modern Roman !important;
}

.infobox {
	color: var(--nord5) !important;
	background-color: var(--nord2) !important;
	border-color: var(--nord4) !important;
}

th {
	color: var(--nord5) !important;
	background-color: var(--nord3) !important;
}

div.thumbinner {
	background-color: var(--nord3) !important;
}

.toc {
	background-color: var(--nord3) !important;
	border-color: var(--nord4) !important;
}

.toctogglelabel {
	color: var(--nord8) !important;
}

#mw-head {
	color: var(--nord6) !important;
	background-color: var(--nord0) !important;
}

.vector-menu-tabs li a {
	background-color: var(--nord1) !important;
	background-image: none !important;
}

h5, h4, h3, h2, h1, #news h3, .md {
	color: var(--nord6) !important;
}

.md code {
	background: var(--nord3) !important;
}

header {
	background: var(--nord1) !important;
	color: var(--nord6) !important;
}

a {
	color: var(--nord5) !important;
}

b {
	color: var(--nord6) !important;
}

.md blockquote, .body blockquote, blockquote {
	background-color: var(--nord1) !important;
	color: var(--nord5) !important;
}

a:link {
	color: var(--nord8) !important;
}

a:visited {
	color: var(--nord8) !important;
}

.content {
	background-color: var(--nord1) !important;
	background: var(--nord1) !important;
}

nav {
	background-color: var(--nord1) !important;
	background: var(--nord1) !important;
}

#archnavbar {
	background: var(--nord1) !important;
	border-bottom: 5px var(--nord10) solid !important;
}

#archnavbarlogo {
	background: var(--nord1) !important;
}

div.box {
	background-color: var(--nord1) !important;
	background: var(--nord1) !important;
	border-color: var(--nord2) !important;
}

div.searx-navbar {
	background: var(--nord1) !important;
	color: var(--nord5) !important;
}

.well {
	background: var(--nord1) !important;
}

#q {
	background: var(--nord1) !important;
	color: var(--nord5) !important;
}

.btn {
	background: var(--nord1) !important;
	color: var(--nord5) !important;

}

.btn:hover {
	background: var(--nord2) !important;
	color: var(--nord6) !important;
}

#categories * {
	background: var(--nord1) !important;
	border: 1px solid var(--nord2) !important;
}

#categories :checked+label {
	border-bottom: 2px solid var(--nord14) !important;
}

.form-control {
	background: var(--nord1) !important;
}

.result-default:hover {
	background: var(--nord1) !important;
}

.panel-body {
	background: var(--nord1) !important;
}

.usertext-body {
	background: var(--nord1) !important;
}

.panel-heading {
	background: var(--nord2) !important;
}

.profile-card {
	background-color: var(--nord1) !important;
	background: var(--nord1) !important;
}

.photo-rail-card {
	background-color: var(--nord1) !important;
	background: var(--nord1) !important;
}

.timeline-item {
	background-color: var(--nord1) !important;
	background: var(--nord1) !important;
}

.more-replies {
	background-color: var(--nord1) !important;
	background: var(--nord1) !important;
}

.comment details summary {
	color: var(--nord4) !important;
}

.show-more {
	background-color: var(--nord1) !important;
	background: var(--nord1) !important;
}

.ui.table {
	border-color: var(--nord4) !important;
}

a.ui.label {
	background-color: var(--nord2) !important;
}

.button {
	background-color: var(--nord2) !important;
	color: var(--nord5) !important;
}

.ui.segment {
	background-color: var(--nord2) !important;
}

.ui.segment .svg {
	fill: var(--nord4) !important;
}

tbody {
	background-color: var(--nord2) !important;
	border-color: var(--nord4) !important;
}

.text.right {
	color: var(--nord5) !important;
}

div.header-wrapper {
	background-color: var(--nord1) !important;
}

.item.active {
	background-color: var(--nord2) !important;
	border-color: var(--nord4) !important;
}

.repository #clone-panel input {
	background-color: var(--nord3) !important;
	color: var(--nord4) !important;
}

.repo-path {
	color: var(--nord5) !important;
}

#navbar {
	background-color: var(--nord3) !important;
}

.ui.attached.header {
	background: var(--nord3) !important;
}

.ui.fluid.input > input {
	background: var(--nord3) !important;
	border-color: var(--nord4) !important;
	color: var(--nord5) !important;
}

.ui.menu.two.item .item {
	background: var(--nord2) !important;
}

.a.item.active {
	background: var(--nord3) !important;
}
